.login-box {
	width: 220px;
	height: 180px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -110px;
	margin-top: -90px;

	font-family: "Open Sans", Tahoma, Geneva, sans-serif;
	color: #303030;
}
.login-box .label-div {
	font-size: 0.8em;
}
.login-box input {
	padding: 0.5em;
	font-family: "Roboto", Tahoma, Geneva, sans-serif;
	color: #303030;
	margin-bottom: 1em;
	border: 1px solid #c0c0c0;
	border-radius: 3px;
	min-width: 170px;
}
.login-box button {
	padding: 0.5em 2em;
}